
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  min-width: 470px;
  background-color: #323233;
}

body {
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight:800;
  margin-top: 10px;
  color:white;
  font-size: larger;
}
ul a{
  padding: 2px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  border-radius: 5px;
}

a:hover, section a:hover {
  color: rgb(143, 140, 140);
}
.nav-link ul, .nav-link a, main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.5;;
}


.nav-link ul {
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  ;
}

.nav-name {
  padding-left: 20px;
  margin: auto;
  flex-grow: 6;
  text-align: left;
}

.nav1 {
  margin-right: 20px;
  padding-right: 10px;
}

header {
  text-align: center;
  width: 100%;
  min-height: 450px;
  line-height: 1.5;
  margin: 10px;
  padding: 10px 0;
  background: url('images/backgroundimg.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgb(143, 140, 140 / 50%);
}

 .profile-image {
  max-height: 150px;
  width: auto;
  margin-top: 30px;
  border-radius: 50%;
}

.profile-image:hover{
  transform: scale(1.2) rotate(5deg);
}

.header-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px rgb(237, 100, 196, 0.2);
}
.tag {
  display: table;
  color: rgb(141, 113, 232);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: yellow;
}

main {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  margin: 30px 2px;
  padding: 16px 0;
}

.card-container {
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.cardbox {
  display: inline-flex;
  width: 100%;
  line-height: 2;
}

section {
  margin: 30px;
  padding: 20px 40px 40px;
  border-radius: 10px;
  width: 50%;
  max-width: 750px;
  background: #fff;
  text-align: left;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

section p{
  margin: 0;
}


.card-title,
section a{
  color: blueviolet;
}

.card-title{
  margin: 0;
  padding: 10px 0px;
}

.card-skills{
margin: 5px 0;
}
.card-skills ul>li {
  border-radius: 6px;
  display: inline;
  flex-wrap: wrap;
  margin: 4px;
  padding: 3px;
  background-color: #6f95E7;
  color: white;
  line-height: 2;
  padding: 3px 10px;
}

.card-skills ul>li:nth-child(odd) {
  background: #bb69e7;
}

/* The actual timeline (the vertical ruler) -- code from https://www.w3schools.com/howto/howto_css_timeline.asp */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #6f95E7;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */

.timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */

.timeline_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #6f95E7;
  border: 4px solid #6f95E7;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */

.left {
  left: 0;
}

/* Place the container to the right */

.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #6f95E7;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #6f95E7;
}

/* Add arrows to the right container (pointing left) */

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #6f95E7;
  border-width: 10px 10px 10px 0;
  border-color: transparent #6f95E7 transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
  left: -16px;
}

/* The actual content */

.content {
  padding: 20px 30px;
  background-color: #6f95E7;
  color: white;
  position: relative;
  border-radius: 10px;
}


footer {
  width: 100%;
  min-height: 30px;
  margin-top: 20px;
  padding: 20px 0 40px 20px;
  color:white;
  margin-left: -20px;
}

footer a {
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  background-image: url('images/github.svg');
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.copyright{
  margin: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timeline_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6f95E7 transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
